<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
</head>
<body>
<div class="container">

	<header>
		<h1>Login</h1>
	</header>

	<section>
		<a href="/login">Local Login</a>
		<a href="/signup">Local Signup</a>
	</section>

	<section>
		<a href="/auth/facebook">Facebook Login</a>
	</section>

	<section>
		<a href="/auth/twitter">Twitter Login</a>
	</section>

	<section>
		<a href="/auth/google">Google Login</a>
	</section>
</div>
</body>
</html>
